.r-27{
 right:27%
}

.l-23{
    left: 23%;
}
.t--7{
    top: 0%;
}

.t-20{
    top: 20%;
}

.b-20{
    bottom: 20%;
}

.l-7{
    left: 9%;
}

.t--10{
    top:-10%
}

.l-17{
    left: 17%;
}


.r-2{
    right: 2%;
}

.t-22{
    top: 22%;
}

.t-26{
    top: 26%;
}


.t-28{
    top: 28%;
}


.l-26{
    left:26%;
}

.l-58{
    left:58%
}

.l-62{
    left: 62%;
}

.r-40{
    right: 40%;
}

.t-14{
    top: -14%;
}

.l32{
    left: 32%;
}


.rightabc{
    right: 12%;
}

@media screen and(min-width: 769px) {
    

.rightabc{
    right: 0;
}
.left1{
    top: 12%;
}
}


.left1{
    top: 28%;
}