.r-27{
 right:27%
}

.l-23{
    left: 23%;
}
.t--7{
    top: 0%;
}

.t-20{
    top: 20%;
}

.b-20{
    bottom: 20%;
}

.l-7{
    left: 9%;
}

.t--10{
    top:-10%
}

.l-17{
    left: 17%;
}


.r-2{
    right: 2%;
}

.t-22{
    top: 22%;
}

.t-26{
    top: 26%;
}


.t-28{
    top: 28%;
}


.l-26{
    left:26%;
}